# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
.venv311/
env/
venv/
ENV/

# VS Code
.vscode/

# Datasets & Models
datasets/
models/
data_collection/__pycache__/
backend/__pycache__/
tests/__pycache__/

# Tools
ngrok.exe

# OS
.DS_Store
Thumbs.db
